# File Types #
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Other #
.classpath
.project
.settings/
.idea/
.wd/

target/
keystore/
io-consoles/
**.flattened-pom.xml
**/dependency-reduced-pom.xml
