.text-area .text {
     -fx-line-spacing: -6px;
}

.text-area,
.text-area .scroll-pane,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane .content  {
    -fx-padding:0;
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical,
.text-area .scroll-bar:horizontal {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}