.component {
    -fx-background-color: transparent;
    -fx-border-color: transparent, transparent, rgba(200, 200, 0, 0.5);
    -fx-border-style: solid outside, dashed outside, dashed inside;
    -fx-border-width: 1px, 2px, 2px;
    -fx-border-insets: 0px, -2px, -2px;
}

.component:hover {
    -fx-background-color: rgba(230,200,255,0.2);
    -fx-border-color: black, transparent, rgba(0, 0, 200, 0.5);
    -fx-border-style: solid outside, dashed inside, dashed outside;
}