body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    user-select: none;
    padding: 64px;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#title {
    margin: 0px;
    padding: 0px;
    font-size: 128px;
    font-family:Segoe UI Black;
}
#subtitle {
    margin-top: -32px;
    display:flex;
    justify-content:center
}
#subtitle h2 {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    font-family:Segoe UI;}


#subtitle {
    position: relative;
    z-index: 1;
}

h2 {
    background: white;
}

#subtitle:after {
    border: 1px solid black;
    content: "";
    position: absolute;
    top: 55%; left: 0; right: 0;
    z-index: -1;
}

.box {
    font-family: Segoe UI;
    margin: 32px;
    padding: 64px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

a:link, a:visited {
  background-color: rgba(0,0,0,0.05);
  color: black;
  padding: 32px 32px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(0,0,0,0.2);
}