.property-editor {
	-fx-border-color: -fx-shadow-highlight-color;
	-fx-border-width: 1;
}

.editor-control {
	-fx-padding: 4px 4px 4px 10px;
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-base;
	-fx-background-insets: 0, 1, 2;
	-fx-border-color: red;
	-fx-border-width: 0 0 0 1;
}